.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:#0f172a;
    color:white;
    box-shadow:0 4px 12px rgba(0,0,0,0.25);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:white;
    margin:0;
}


.nav-links{
    display:flex;
    align-items:center;
    gap:25px;
}


.nav-links a{
    text-decoration:none;
    color:#e5e7eb;
    font-size:16px;
    font-weight:500;
}


.nav-links a:hover{
    color:#60a5fa;
}


.admin-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}


.admin-btn:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}


/* mobile */
@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-direction:column;
        gap:15px;
    }

}